/* ********************************* css base simbiosys™ ************************** */
/* positions */
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.clear_both{
	clear:both;
}
.overflow_hidden{
	overflow:hidden;
}
.display_block{
	display:block;
}
.display_inline{
	display:inline;
}
.display_none{
	display:none;
}
.text_align_left{
	text-align:left;
}
.text_align_center{
	text-align:center;
}
.text_align_right{
	text-align:right;
}
.relative{
	position:relative;
}
/* END positions */

/* text */
.uppercase{
	text-transform:uppercase;
}
.lowercase{
	text-transform:lowercase;
}
/* END text */


/* END opentype */
/* ******************************* END css base simbiosys™ ************************** */ 