/* ********************************* css base simbiosys™ ************************** */
/* positions */
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.clear_both{
	clear:both;
}
.overflow_hidden{
	overflow:hidden;
}
.display_block{
	display:block;
}
.display_inline{
	display:inline;
}
.display_none{
	display:none;
}
.text_align_left{
	text-align:left;
}
.text_align_center{
	text-align:center;
}
.text_align_right{
	text-align:right;
}
.relative{
	position:relative;
}
/* END positions */

/* text */
.uppercase{
	text-transform:uppercase;
}
.lowercase{
	text-transform:lowercase;
}
/* END text */
$primary-dark-5: mix(black, $primary-color, 5%); 
$primary-dark-10: mix(black, $primary-color, 10%); 
$primary-dark-15: mix(black, $primary-color, 15%); 
$primary-dark-20: mix(black, $primary-color, 20%); 
$primary-dark-25: mix(black, $primary-color, 25%); 
$primary-dark-30: mix(black, $primary-color, 30%); 
$primary-dark-35: mix(black, $primary-color, 35%); 
$primary-dark-40: mix(black, $primary-color, 40%); 
$primary-dark-45: mix(black, $primary-color, 45%); 
$primary-dark-50: mix(black, $primary-color, 50%); 
$primary-dark-55: mix(black, $primary-color, 55%); 
$primary-dark-60: mix(black, $primary-color, 60%); 
$primary-dark-65: mix(black, $primary-color, 65%); 
$primary-dark-70: mix(black, $primary-color, 70%); 
$primary-dark-75: mix(black, $primary-color, 75%); 
$primary-dark-80: mix(black, $primary-color, 80%); 
$primary-dark-85: mix(black, $primary-color, 85%); 
$primary-dark-90: mix(black, $primary-color, 90%); 
$primary-dark-95: mix(black, $primary-color, 95%); 

$primary-clear-5: mix(white, $primary-color, 5%); 
$primary-clear-10: mix(white, $primary-color, 10%); 
$primary-clear-15: mix(white, $primary-color, 15%); 
$primary-clear-20: mix(white, $primary-color, 20%); 
$primary-clear-25: mix(white, $primary-color, 25%); 
$primary-clear-30: mix(white, $primary-color, 30%); 
$primary-clear-35: mix(white, $primary-color, 35%); 
$primary-clear-40: mix(white, $primary-color, 40%); 
$primary-clear-45: mix(white, $primary-color, 45%); 
$primary-clear-50: mix(white, $primary-color, 50%); 
$primary-clear-55: mix(white, $primary-color, 55%); 
$primary-clear-60: mix(white, $primary-color, 60%); 
$primary-clear-65: mix(white, $primary-color, 65%); 
$primary-clear-70: mix(white, $primary-color, 70%); 
$primary-clear-75: mix(white, $primary-color, 75%); 
$primary-clear-80: mix(white, $primary-color, 80%); 
$primary-clear-85: mix(white, $primary-color, 85%); 
$primary-clear-90: mix(white, $primary-color, 90%); 
$primary-clear-95: mix(white, $primary-color, 95%); 

/* END opentype */
/* ******************************* END css base simbiosys™ ************************** */ 
