$size-xs : 480px;
$size-sm : 768px;
$size-md : 992px;
$size-lg : 1200px;

$primary-color: #C38089;

$tipo-principal: "Open Sans", Helvetica, Arial, sans-serif;
$tipo-secundaria: "Gentium Book Basic", "Times New Roman", serif;
